<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="postgres"
    providerName="PostgreSQL"
    connectionString="Host=127.0.0.1;Port=5432;Database=testdb;Username=kkozlov;Timeout=0;Keepalive=59;" />
    <add name="mssql"
	 providerName="MSSQL"
	 connectionString="Server=SD-346\SQLEXPRESS;Database=TestDB;Trusted_Connection=True;" />
  </connectionStrings>
  <appSettings>
  </appSettings>
</configuration>

<!-- connectionString="Server=127.0.0.1;Port=5432;Database=postgres;User Id=kkozlov;Password=kir1992;Timeout=15;CommandTimeout=20; -->
