<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="OleDbConnection"
    	connectionString="Provider=Microsoft.ACE.OLEDB.12.0;
				Data Source=c:\users\k.kozlov\tmp\cpp_cli\playground\adoNet\oledb\foo.xlsx;
				Extended Properties='Excel 12.0 Xml;HDR=YES';"/>
  </connectionStrings>
</configuration>